body { 
	background-image: url(http://www.digitalflow.hu/white.jpg);
	margin-left: 20px;
	margin-right: 20px;
}
h1 {
    color: red;
    text-decoration: underline;
}
h2 {
    color: blue;
}
ul {
    list-style: square; 
}
p {
    font-family: "arial";
}